{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div class="card">
    <h3>{{ question.question_text }}</h3>
    <hr>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}

        {% for choice in question.choice_set.all %}
            <div class="choices">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            </div>
        {% endfor %}
        <a href="{% url 'polls:index' %}" class="btn-back">Back</a>
        <input class="btn-vote" type="submit" value="Vote">
    </form>
</div>